<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="style.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <title>ADMIN</title>
</head>
<body>
  <div id="app" class="container-admin">
    <div class="card border-dark mb-3 admin-form" style="max-width: 30rem;" v-if="!isLogin">
      <div class="card-header">LOGIN FORM</div>
      <div class="card-body text-dark">
        <h5 class="card-title"></h5>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" v-model="email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" v-model="password">
            </div>
            <button type="button" class="btn btn-primary btn-block" @click="login">Submit</button>
          </form>
      </div>
    </div>
    <div class="card border-dark mb-3 admin-form" style="max-width: 30rem;" v-if="!isLogin">
      <div class="card-header">REGISTER FORM</div>
      <div class="card-body text-dark">
        <h5 class="card-title"></h5>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" name="new_email" class="form-control" id="exampleInputEmail1Regis" aria-describedby="emailHelp" placeholder="Enter email" v-model="newEmail">
              <small id="emailHelpRegis" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name="new_password" class="form-control" id="exampleInputPassword1Regis" placeholder="Password"  v-model="newPassword">
              <small id="passwordHelpRegis" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1"> Confirm Password</label>
              <input type="password" name="confirm_password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password" v-model="newConfirmPassword">
              <small id="passwordConfirmHelpRegis" class="form-text text-muted"></small>
            </div>
            <button type="button" class="btn btn-primary btn-block" :class="{disabled: checkValidation()}" @click="register">Submit</button>
          </form>
      </div>
    </div>
    <div style="width: 80rem; text-align: center; background-color: floralwhite;" v-else>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Picture</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in items" :key="index">
            <th scope="row">{{index + 1}}</th>
            <td><img :src="item.image"  style="max-width: 3rem;"/></td>
            <td>{{item.name}}</td>
            <td>{{ `Rp ` + item.price.toLocaleString()}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.category.name}}</td>
            <td><button type="button" class="btn btn-outline-danger" @click="deleteItem(item)">DELETE</button></td>
          </tr>
        </tbody>
      </table>
      <div>
        <!-- Button trigger modal -->
        <button type="button btn-lg btn-block" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
            ADD NEW ITEM
        </button>
        <button type="button btn-lg btn-block" class="btn btn-danger btn-lg btn-block" @click="logout()">
            LOG OUT
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="formGroupExampleInput">Names: </label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter item name" v-model="itemName">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Price: </label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter price item" v-model="price">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput">Quantity: </label>
                    <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Enter quantity item" v-model="quantity">
                  </div>
                  <div class="form-group">
                      <label for="picture">Picture/Poster</label>
                      <input type="file" class="form-control" name="picture" accept="image/*" @change="handleUploadPicture" placeholder="Enter image item">
                  </div>
                  <label for="category">Category</label>
                  <div class="input-group mb-3">
                    <select class="custom-select" id="selectorId" >
                      <option class="disabled" aria-placeholder="Select an option" value="null">Select an option</option>
                      <option name="tag" v-for="(tag, index) in tags" :key="index" :value="tag.name">{{tag.name}}</option>
                    </select>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="upload">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>

  new Vue ({
    el: '#app',
    data: {
      newEmail: '',
      newPassword: '',
      newConfirmPassword: '',
      email: '',
      password: '',
      isEmail: false,
      isConfirm: false,
      isPassword: false,
      isLogin: false,
      itemName: '',
      price: '',
      quantity: '',
      image: '',
      dummy: 'https://storage.googleapis.com/ecommerce.ramadiansyah.gq/1524306332513-Unknown.png',
      items: [],
      tags: [],
      newTag: ''
    },
    methods: {
      checkValidation () {
        if(this.isEmail && this.isConfirm && this.isPassword) return false ; return true;
      },
      login () {
        let email = this.email
        let password = this.password
        axios.post('http://localhost:3000/users/signin', {email, password}, {})
             .then((response) => {
               localStorage.setItem('token', response.data.result)
               swal({
											title: "Good job!",
											text: "You are login right now!",
											icon: "success",
											button: "Ok!",
										});
										window.setTimeout(function(){ 
											location.reload();
										} ,2000);
             })
             .catch((err) => {
              swal("Login failed", err.message, "failed");
             })
      },
      logout () {
        swal({
          title: "Are you sure?",
          text: "Once deleted, you will not be able to recover your cart lists?",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            localStorage.removeItem('token')
            swal("You are logout now!", {
              icon: "success",
            });
            window.setTimeout(function(){ 
              location.reload();
            } ,2000);
          } else {
            swal("Your still login");
          }
        })
      },
      upload () {
        let formData = new FormData()
        formData.append('image', this.image)
        formData.append('name', this.itemName)
        formData.append('price', this.price)
        formData.append('quantity', this.quantity)
        let newTag = $('#selectorId').val()
        formData.append('category', newTag)
        axios.post('http://localhost:3000/users/upload', formData, {
              headers: {
                'Content-type': 'multipart/form-data',
                token: localStorage.getItem('token')
              }
            })
            .then((response) => {
              swal({
                    title: "Good job!",
                    text: "Success to add new list to the list!",
                    icon: "success",
                    button: "Ok!",
                  });
                  window.setTimeout(function(){ 
                    location.reload();
                  } ,2000);
              })
            .catch((err) => {
              swal("You dont have an access to do this", err.message, "failed");
            })
      },
      handleUploadPicture () {
        console.log('event===', event.target.files)
        this.image = event.target.files[0]
      },
      getItems () {
        axios.get('http://localhost:3000/users/getItems', {headers: {token: localStorage.getItem('token')}})
             .then((response) => {
               this.items = response.data.result
             })
             .catch((err) => {
                swal("Get items failed", err.message, "failed");
             })
      },
      deleteItem (item) {
        swal({
          title: "Are you sure?",
          text: "Once deleted, you will not be able to recover this file!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            axios.delete(`http://localhost:3000/users/delete/${item._id}`, {headers: {token: localStorage.getItem('token')}})
             .then((response) => {
                  swal("Your file has been deleted!", {
                    icon: "success",
                  });
                  window.setTimeout(function(){ 
                    location.reload();
                  } ,2000);
             })
             .catch((err) => {
                swal("You dont have an access to do this", err.message, "failed");
             })
          } else {
            swal("Your file is safe!");
          }
        });
      },
      getCategories () {
        axios.get('http://localhost:3000/users/categories')
             .then((response) => {
               this.tags = response.data.result
             })
             .catch((err) => {
              swal("Get categories failed", err.message, "failed");
             })
      },
      register () {
        if(this.checkValidation()){
          swal("WARNING!", "You have to fill in all of the form text label");
        } else {
          let email = this.newEmail
          let password = this.newPassword
          let role = 'admin'
          let balance = 0
          let first_name = 'admin'
          let last_name = 'e-commerce'
          axios.post('http://localhost:3000/users/signup', {email, password, role, balance, first_name, last_name}, {})
               .then((response) => {              
                swal({
                  title: "Congratulations",
                  text: "You are an admin in this app right now",
                  icon: "success",
                  button: "Ok!",
                });
                window.setTimeout(function(){ 
                  axios.post('http://localhost:3000/users/signin', {email, password}, {})
                       .then((response) => {
                          localStorage.setItem('token', response.data.result)
                          location.reload()
                       })
                       .catch((err) => {
                        swal("Login failed", err.message, "failed");
                       })
								} ,3000);
               })
               .catch((err) => {
                swal("Register failed", err.message, "failed");
              })
        }
      },
    },
    watch: {
      newEmail: function () {
        console.log(this.newEmail)
        let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        let checkEmail = re.test(String(this.newEmail).toLowerCase());
        if(checkEmail){
          $('#emailHelpRegis').text("correct email").css("color","green")
          $('[name="new_email"]').css({"border-color": "green", "border-solid": "bold", "border-width": "3px"})
          this.isEmail = true;
        } else {
          console.log('still')
          $('#emailHelpRegis').text("wrong email").css("color","red")
          $('[name="new_email"]').css({"border-color": "red", "border-solid": "bold", "border-width": "3px"})
          this.isEmail = false;
        }
      },
      newPassword: function () {
        console.log(this.newPassword)
        if(/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/.test(String(this.newPassword))){
          $('#passwordHelpRegis').text("correct password").css("color","green")
          $('[name="new_password"]').css({"border-color": "green", "border-solid": "bold", "border-width": "3px"})
          this.isPassword = true;
        }else{
          $('#passwordHelpRegis').text("password must contain at least 1 uppercase, 1 lowercase, and 1 number").css("color","green")
          $('[name="new_password"]').css({"border-color": "red", "border-solid": "bold", "border-width": "3px"})
          this.isPassword = false;
        }
      },
      newConfirmPassword: function () {
        if(this.newConfirmPassword === this.newPassword){
          $('#passwordConfirmHelpRegis').text("password match").css("color","green")
          $('[name="confirm_password"]').css({"border-color": "green", "border-solid": "bold", "border-width": "3px"})
          this.isConfirm = true
        } else {
          $('#passwordConfirmHelpRegis').text("password not match").css("color","red")
          $('[name="confirm_password"]').css({"border-color": "red", "border-solid": "bold", "border-width": "3px"})
          this.isConfirm = false;
        }
      }
    },
    mounted: function () {
      if(localStorage.getItem('token')) {
        this.isLogin = true;
        this.getItems()
        this.getCategories()
      }
    }
  })
</script>
</html>